<h2>Dashboard - my posts</h2>

{{#if logged_in}}
{{#each posts as |post| }}
<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>{{post.title}}</h2>
    </div>
    <div class="col-md-6">
        <h3>{{post.content}}</h3>
    </div>
    <h4>By user {{user.user}}</h4>
    <h4>Date created: {{post.creationDate}}</h4>
</div>
{{/each}}
{{/if}}

<button id="addPost" class="btn btn-primary" type="submit">Add a new post</button>

<div class="form-popup" id="popUpForm">
    <form class="form addPost-form">
        <input type="text" id="blogTitle" placeholder="Title">
        <input type="text" id="blogContent" placeholder="Content">
        <button id="addPostButton" class="btn btn-primary" type="submit">Add post</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>