<h2>Dashboard</h2>

<button id="addPost" class="btn btn-primary" type="submit">Add a new post</button>

<div class="form-popup" id="popUpForm">
    <form class="form addPost-form">
        <input type="text" id="blogTitle" placeholder="Title">
        <input type="text" id="blogContent" placeholder="Content">
        <button id="addPostButton" class="btn btn-primary" type="submit">Add post</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>