<form class="login-form">
  <div class="form">
    <div class="title">Log in</div>
    <div class="subtitle">Log in to your existing account below:</div>

    <div class="input-container ic1">
      <label for="userName-login" class="placeholder"></label>
      <input id="userName-login" class="input" type="text" placeholder="Username" />

    </div>

    <div class="input-container ic2">
      <label for="password-login" class="placeholder"></label>
      <input id="password-login" class="input" type="password" placeholder="Password" />

    </div>

    <button type="text" class="submit">Login</button>

    <a id="signUp" href="/signup">
      <div class="subtitle">Don't have an account? <br>
        Sign up here.</div>
    </a>
</form>


<script src="/js/loginForm.js"></script>