<form class="signUp-form">
    <div class="form">
        <div class="title">Sign up</div>
        <div class="subtitle">Sign up by creating a username and password:</div>

        <div class="input-container ic1">
            <label for="userName-signUp" class="placeholder"></label>
            <input id="userName-signUp" class="input" type="text" placeholder="Username" />
        </div>

        <div class="input-container ic2">
            <label for="password-signUp" class="placeholder"></label>
            <input id="password-signUp" class="input" type="password" placeholder="Password" />
        </div>

        <button type="text" class="submit">Sign Up</button>

        <div class="cut"></div>

        <a id="signUp" href="/login">
            <div class="subtitle">Already have an account? <br>
                Log in here.</div>
        </a>
</form>

<script src="/js/signUpForm.js"></script>