header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
}

nav {
    display: flex;
}

header h1 {
    padding-left: 2em;
    margin-right: 1em;
}

h2 {
    padding-left: 6em;
}

button {
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    outline: 0;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

form button {
    width: 8em;
}

button:hover {
    background-color: black;
    color: white;
}


body {
    font-family: sans-serif;
    align-items: center;
    background-color: #0a1e3f;
    /* display: flex; */
    justify-content: center;
    /* height: 100vh; */
}

.form {
    margin: 0 auto;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.comment-form {
    /* margin: 0 auto; */
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin: 2em 10em 0 10em;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    /* position: absolute; */
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

a {
    color: #eee;
}

a:hover {
    color: lightgrey;
}

h2 {
    color: white;
}

.post-div {
    background-color: #15172b;
    padding: 2em;
    margin: 2em 10em 0 10em;
    border-radius: 3em;
}

#comment-div {
    /* padding: 1em; */
    margin: 2em 10em 0 10em;
    color: white;
}

.form-popup {
    display: none;
    /* margin: 0 auto; */
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin: 2em 10em 0 10em;
}

#addPost {
    margin: 2em 10em 0 10em;
}